.pinning-header .main-header .logo {
background-image: url('https://i.imgur.com/hiKpNvm.png');
background-size: cover;
background-repeat: no-repeat;
background-position: 50% 50%;
height: 70px;
margin-top: 4px;
}

.icon-logoUpdate:before {
visibility: hidden;
}
