/* YT RED/Premium Fix */
#logo-red-icon-container.ytd-topbar-logo-renderer {
    visibility: hidden;
}

#logo-icon-container,
#logo-icon-container #logo,
#logo-icon-container .yt-icon-container {
    display: inline-block !important;
    padding: 0px !important;
    width: 118px !important;
    height: 36px !important;
    min-width: 118px !important;
    min-height: 36px !important;
    max-width: 118px !important;
    max-height: 36px !important;
    margin-top: -1px !important;
    margin-bottom: -5px !important;
    padding-right: 15px !important;
}
#logo-icon-container,
#logo-icon-container #logo {
    background: url(/*[[logo]]*/) 0 0 no-repeat !important;
}
#youtube-paths,
.g {
    visibility: hidden !important;
}
#logo-icon-container g,
.path {
    visibility: hidden !important;
}
#logo-icon-container .content-region {
    position: relative !important;
    left: 120px !important;
    top: -33px !important;
    padding: 0px !important;
    margin: 0px !important;
}
#appbar-guide-button {
    position: relative !important;
    top: 1px !important;
    left: 3px !important;
}
div.ytd-topbar-logo-renderer {
    width: 200px !important;
    height: 30px !important;
}
#copyright {
    background: url(/*[[logo]]*/) 0 0 no-repeat !important;
    padding-top: 45px !important;
    background-position-x: 27px !important;
}
